@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.94);
}

.card {
    height: 30rem;
    width: 20rem;
}