@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: white;
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.77);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.94);
}

.card {
    height: 30rem;
    width: 20rem;
}

#asEffect{
position: absolute;
top: 0;
left: 0;
width:100%;
height: 100%;
pointer-events: none;
background-image: url('https://img.freepik.com/vector-gratis/confeti-colores-cumpleanos-sobre-fondo-transparente_1035-23618.jpg?semt=ais_hybrid&w=740&q=80');
background-repeat: repeat;
background-size: cover;
z-index:9999;
animation: sparkle 1s ease-out;
}

.hidden{
    display:none;
}

@keyframes sparkle{
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}